@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 48px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 150px;
  }

  &__logo-img {
    margin-right: 12px;
  }

  &__logo-text {
    @extend %logo;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item + .menu__list-item {
    padding-left: 34px;
  }

  &__list-link {
    text-decoration: none;
    @extend %rubik-700;
    font-size: 15px;
    color: $accent;
    transition: 0.3s ease;
    &:hover {
      color: $background;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__link,
  &__menu-btn {
    width: 51px;
    height: 51px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    color: $default;
    @extend %dmsans-400;
    font-size: 10px;
    position: relative;
  }

  &__link-search {
    line-height: 60px;
    background-color: rgba(163, 187, 200, 0.2);
  }

  &__link-cart {
    margin-left: 56px;
  }

  &__menu-btn {
    line-height: 64px;
    background-color: $buttons;
    cursor: pointer;
    border: none;
    outline: none;
  }

  &__bundle {
    padding: 22px 40px 8px 40px;
    border-radius: 40px;
    text-align: center;
    line-height: 15px;
    margin: 0 20px;
    background-color: $background;
    position: relative;
    &::after {
      content: "";
      width: 1px;
      height: 32px;
      background-color: rgba(255, 255, 255, 0.4);
      position: absolute;
      left: 50.5%;
      top: 16%;
    }
  }

  &__num {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-decoration: none;
    background-color: #fff;
    position: absolute;
    top: -17px;
    left: 10px;
  }
}
// ===================/header=====================

.top {
  background-color: rgba(237, 241, 244, 0.6);
  padding: 34px 0;
  &__title {
    line-height: 24px;
    margin-bottom: 15px;
    font-size: 36px;
    text-align: center;
    color: #222933;
    @extend %rubik-300;
  }
}

.top-slider {
  .top-slider__container {
    max-width: 1800px;
  }

  &__inner {
    padding: 220px 285px 45px 285px;
    background-color: $background;
    background-image: url("../images/circle-bg.png");
    background-repeat: no-repeat;
    background-position: 84% 52%;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__title {
    font-size: 72px;
    @extend %rubik-500;
    color: $default;
    max-width: 470px;
    line-height: 70px;
    margin-bottom: 23px;
  }

  &__text {
    font-size: 18px;
    color: $accent;
    margin-bottom: 60px;
    max-width: 389px;
    line-height: 30px;
  }

  &__link {
    font-size: 15px;
    @extend %rubik-500;
    color: #ffffff;
    background-color: $buttons;
    text-decoration: none;
    padding: 21px 100px 21px 27px;
    position: relative;
    outline: none;
    transition: 0.3s ease;
    &:hover {
      background-color: $default;
    }
    &::before {
      @extend %arrow;
      background-image: url("../images/arrow.svg");
    }
  }

  &__img {
    height: 264px;
    margin-top: 55px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 210px;
    li {
      margin-right: 10px;
      button {
        padding: 0;
        border: 0;
        font-size: 11px;
        @extend %rubik-500;
        color: $default;
        width: 30px;
        height: 29px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        outline: none;
        cursor: pointer;
      }
      &.slick-active {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50%;
      }
    }
  }
}
// ================/top-slider==================

.products {
  padding: 0px 0 100px;
}

.features {
  display: flex;
  justify-content: space-around;
  background-color: rgba(252, 215, 182, 0.2);
  padding: 40px 0px 40px;
  position: relative;
  &__item {
    display: flex;
    align-items: flex-start;
    &:nth-child(2) {
      align-items: center;
    }
  }

  &__item-column {
    margin-left: 22px;
    &::after {
      content: "";
      position: absolute;
      border-right: 1px solid rgba(36, 63, 77, 0.1);
      top: 0;
      height: 170px;
    }
  }

  &__item-column--support::after {
    right: 69%;
  }

  &__item-column--delivery::after {
    right: 32%;
  }

  &__item-column--payment::after {
    border-right: none;
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 17px;
    color: #414141;
    line-height: 20px;
    margin-bottom: 5px;
  }

  &__item-text {
    @extend %dmsans-400;
    color: #585858;
    line-height: 33px;
    font-size: 15px;
    max-width: 200px;
  }

  &__item-text--support {
    max-width: 196px;
  }
}
// ===============/features=======================

.product {
  &__inner {
    padding-top: 75px;
  }

  &__top {
    text-align: center;
  }

  &__filter-btn {
    margin-bottom: 70px;
  }

  &__btn {
    @extend %filter-btn;
  }

  &__btn--active {
    color: $title;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}
.title {
  @extend %title;
}
.product-item {
  max-width: 270px;
  &:hover {
    .product-item__link-box {
      transform: translateY(0%);
    }
  }
  &__img-box {
    position: relative;
    padding: 35px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    overflow: hidden;
  }

  &__images {
    object-fit: cover;
  }

  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 39.5%;
    transform: translateY(600%);
  }

  &__link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    path {
      transition: all 0.3s;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $buttons;
      path {
        fill: #ffffff;
      }
    }
  }

  &__title {
    margin: auto 0px 15px 0px;
    @extend %dmsans-700;
  }

  &__price {
    @extend %dmsans-700;
    color: $buttons;
  }
}

// ===============/product========================

.categories {
  padding-top: 185px;
  &__items {
    display: flex;
  }

  &__item {
    width: 870px;
    background-color: rgba(252, 215, 182, 0.4);
    position: relative;
    display: flex;
    &:first-child {
      margin-right: 30px;
    }
  }

  &__content {
    padding: 100px 0 110px 44%;
  }

  &__content-right {
    padding: 84px 0 110px 49%;
  }

  &__img {
    position: absolute;
    top: -100px;
    left: 15%;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  &__title-right {
    max-width: 350px;
    margin-bottom: 10px;
  }

  &__subtitle {
    max-width: 460px;
    line-height: 30px;
    margin-bottom: 48px;
  }

  &__link {
    text-decoration: none;
    color: $accent;
    border: solid 1px #436372;
    padding: 20px 83px 20px 19px;
    border-radius: 5px;
    position: relative;
    &::before {
      @extend %arrow;
      background-image: url("../images/arrow-blue.svg");
    }
    &:hover {
      background-color: $buttons;
    }
  }
}
// ==================/categories===================

.design {
  padding-top: 100px;

  &__top {
    text-align: center;
  }

  &__title {
    @extend %title;
  }

  &__filter-btn {
    margin-bottom: 78px;
  }

  &__btn {
    @extend %filter-btn;
  }

  &__btn--active {
    color: $title;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

.design-item {
  max-width: 370px;
  text-decoration: none;
  &:hover {
    transform: scale(1.1);
    transition: 1s ease;
  }

  &__img-box {
    position: relative;
    height: 246px;
    background-color: #f8f8f8;
    border-radius: 5px;
  }

  &__text-box {
    padding: 40px 0px 0px 36px;
    @extend %dmsans-700;
  }

  &__images {
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 30px;
  }

  &__title {
    max-width: 171px;
    margin-bottom: 20px;
    font-size: 20px;
    color: $title;
    line-height: 25px;
  }

  &__style {
    color: $buttons;
  }
}
// ====================/design=====================

.video {
  padding-top: 120px;
  &__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 505px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
// ====================/video=====================

.blog {
  padding-top: 115px;
  margin-top: 450px;
  background-color: rgba(252, 215, 182, 0.2);

  &__inner {
    margin-top: -450px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 24px 0 3px;
    margin-bottom: 48px;
  }

  &__title {
    @extend %title;
    margin-bottom: 0px;
  }

  &__top-btn {
    text-decoration: none;
    color: #262626;
    @extend %dmsans-700;
  }

  &__top-link {
    position: relative;
    &::before {
      content: "";
      background-image: url("../images/icons/blog-arrow.svg");
      background-repeat: no-repeat;
      width: 7px;
      height: 12px;
      position: absolute;
      top: 5px;
      right: -24px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }
}

.blog-item {
  max-width: 370px;

  &__img {
    object-fit: cover;
    height: 250px;
  }

  &__content {
    background-color: #fff;
    padding: 15px 55px 17px 31px;
  }

  &__btn {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    @extend %poppins-700;
    color: #ffffff;
    background-color: $buttons;
    padding: 5px 31px;
    border-radius: 35px;
    position: relative;
    top: -29px;
  }

  &__title-link {
    text-decoration: none;
    color: #262626;
    @extend %dmsans-500;
    font-size: 18px;
  }

  &__title {
    margin-bottom: 25px;
    position: relative;
    line-height: 22px;
    &::after {
      content: "";
      position: absolute;
      width: 315px;
      height: 1px;
      background-color: #e0e0e0;
      top: 76px;
      left: 0;
    }
  }

  &__title-3 {
    margin-bottom: 46px;
  }

  &__info {
    font-size: 12px;
    text-transform: uppercase;
    color: #222933;
    @extend %rubik-500;
    display: flex;
    line-height: 30px;
  }

  &__date {
    margin-right: 15px;
    align-items: center;
  }

  &__date-img {
    vertical-align: middle;
  }

  &__user {
    align-items: center;
  }

  &__user-img {
    vertical-align: middle;
  }

  &__user-link {
    text-decoration: none;
    color: #222933;
  }
}
.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // height: 160px;
  padding: 90px 0;
}

// ===================/main=====================

.footer-top {
  padding: 100px 0 75px;
  border-bottom: 1px solid rgba(163, 187, 200, 0.4);
  display: flex;

  span {
    text-transform: uppercase;
  }

  &__item {
    width: 270px;
    margin-right: 30px;
    @extend %link;
    &:last-child {
      margin-right: 0;
    }
  }

  &__communication {
    margin-top: -18px;
    font-size: 14px;
    margin-right: 100px;
    width: 200px;
  }

  &__logo {
    margin-bottom: 29px;
  }

  &__logo-img {
    margin-right: 14px;
  }

  &__logo-text {
    @extend %logo;
  }

  &__contact {
    display: inline-block;
    @extend %link;
    margin-bottom: 18px;
  }

  &__address {
    line-height: 1.5;
  }

  &__title {
    @extend %dmsans-700;
    text-transform: uppercase;
    margin-bottom: 29px;
    color: #1f2044;
  }

  &__list-item {
    font-size: 14px;
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-link {
    @extend %link;
    &:hover {
      color: $background;
    }
  }

  &__text {
    font-size: 14px;
    margin-bottom: 38px;
    line-height: 1.71;
  }

  &__form-input {
    padding: 11px 26px 11px 15px;
    background-color: rgba(252, 215, 182, 0.4);
    font-size: 12px;
    border: none;
    outline-color: $background;
    @extend %dmsans-400;
    &:focus {
      padding: 10px 26px 10px 15px;
    }
    &::placeholder {
      color: #234969;
    }
  }

  &__form-btn {
    border: none;
    padding: 11px 19px 13px 16px;
    margin-left: -4px;
    background-color: $buttons;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    @extend %dmsans-400;
  }

  &__form-btn:hover {
    background-color: $accent;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 37px 0 39px;
  &__copy {
    @extend %link;
  }

  &__list {
    display: flex;
  }

  &__list-item {
    border-right: 1px solid #7b7b7b;
    padding-right: 15px;
  }

  &__list-item:last-child {
    border-right: transparent;
    padding-right: 0;
  }

  &__list-item + .footer-bottom__list-item {
    margin-left: 15px;
  }

  &__list-link {
    @extend %link;
  }
  &__list-link:hover {
    color: $background;
  }
}
// ==================/footer=======================

.modal {
  max-width: 505px;
  padding: 115px 0 120px;
  margin: 0 auto;
  &__label {
    display: block;
    margin-bottom: 25px;
    font-size: 14px;
    color: $accent;
  }

  &__label-position {
    position: relative;
  }

  &__input {
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    margin: 15px 0 25px;
    height: 56px;
    padding: 0 15px;
  }

  &__btn {
    margin-top: 37px;
    display: block;
    width: 100%;
    background-color: rgba(163, 187, 200, 0.7);
    font-size: 18px;
    @extend %rubik-500;
    color: #fffefe;
    border: none;
    padding: 21px 0;
    cursor: pointer;
    margin-bottom: 30px;
  }

  &__error {
    color: $accent;
    text-decoration: none;
    font-size: 14px;
    position: absolute;
    right: 0;
  }

  &__registr {
    text-decoration: none;
    color: $accent;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    display: block;
    border-top: 2px solid #f6f6f6;
    padding-top: 30px;
    margin-bottom: 25px;
  }

  &__create-btn {
    display: block;
    width: 100%;
    text-align: center;
    @extend %rubik-500;
    text-decoration: none;
    font-size: 18px;
    color: $default;
    padding: 21px 0;
    border: 3px solid rgba(163, 187, 200, 0.4);
  }
}

.log__partners {
  background-color: rgba(252, 215, 182, 0.2);
  ul.log__partners-list {
    padding: 82px 0px;
  }
}
// ==================/login.html======================

.information {
  padding: 115px 0 20px;

  &__item {
    margin-bottom: 70px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 40px;
    @extend %rubik-500;
    margin-bottom: 20px;
  }

  &__title-type {
    margin-bottom: 30px;
  }

  &__type {
    padding-left: 30px;
    list-style: decimal-leading-zero;
  }

  &__type-list {
    margin: 0 -30px 30px 0;
    padding-left: 10px;
    line-height: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    line-height: 30px;
  }
}
// ==================/conditions.html======================

.mission {
  padding-top: 120px;
  &__inner {
    display: flex;
    margin-bottom: 120px;
  }

  &__content {
    padding: 80px 0px 90px 45px;
  }

  &__experience {
    display: flex;
    line-height: 30px;
    margin-bottom: 45px;
  }

  &__experience-number {
    font-size: 140px;
    line-height: 70px;
    color: $buttons;
    @extend %rubik-700;
    padding-right: 25px;
  }

  &__content-title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 45px;
  }

  &__content-text {
    line-height: 30px;
    padding-bottom: 65px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 500px;
      height: 3px;
      background-color: #e6eaf0;
      left: 0;
      bottom: 0;
    }
  }

  &__statistics {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    position: relative;
  }

  &__statistics-item {
    text-align: center;
    font-size: 36px;
    @extend %dmsans-700;
  }

  &__statistics-item--projects {
    &::before {
      content: "";
      background-image: url("../images/icons/projects.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 38px;
      height: 38px;
      left: 0;
      top: 50px;
    }
  }

  &__statistics-item--revenue {
    &::before {
      content: "";
      background-image: url("../images/icons/speaker.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 44px;
      height: 50px;
      left: 34%;
      top: 49px;
    }
  }

  &__statistics-item--awards {
    &::before {
      content: "";
      background-image: url("../images/icons/awards.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 42px;
      height: 42px;
      right: 25%;
      top: 50px;
    }
  }

  &__statistics-text {
    display: flex;
    font-size: 16px;
    line-height: 17px;
    margin-left: 2px;
    padding-top: 6px;
    color: rgba(76, 76, 76, 0.6);
  }

  &__statistics-projects {
    margin-left: 4px;
  }
}

.info {
  background-color: $background;
  padding: 72px 0;
  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    text-align: center;
    line-height: 50px;
    @extend %dmsans-700;
  }

  &__item-title {
    font-size: 36px;
  }

  &__item-subtitle {
    font-size: 18px;
  }
}
.team {
  padding-top: 120px;
  &__inner {
    display: flex;
  }

  &__content {
    max-width: 400px;
    margin-right: 30px;
    padding-top: 8px;
  }

  &__content-title {
    color: $default;
    @extend %title;
    margin-bottom: 20px;
  }

  &__content-text {
    padding-right: 90px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  &__content-btn {
    @extend %poppins-600;
    text-decoration: none;
    padding: 16px 60px 16px 18px;
    background-color: $buttons;
    color: #ffff;
    border-radius: 8px;
    line-height: 55px;
    font-size: 15px;
    position: relative;
    &::before {
      @extend %arrow;
      background-image: url("../images/icons/arrow-about.svg");
      background-repeat: no-repeat;
      width: 15px;
      height: 12px;
      right: 28px;
      top: 22px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }

  &__item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 325px;
    background-color: #ffffff;
    padding: 25px 25px 25px 20px;
    box-shadow: 0px 6px 57px 0 rgba(37, 37, 37, 0.05);
    margin-top: -50px;
    position: relative;
  }

  &__item-name {
    font-size: 22px;
    @extend %dmsans-700;
    line-height: 26px;
    color: $accent;
    margin-bottom: 10px;
  }

  &__item-position {
    color: #565872;
    line-height: 30px;
  }
}

.social {
  display: flex;
  &__link {
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
  }

  &__link-img {
    width: 22px;
    height: 18px;
  }
}
// ==================/about.html======================

.shop {
  padding: 120px 0;
  &__inner {
    display: flex;
  }
  &__filters {
    width: 270px;
    margin-right: 30px;
  }
}

.filter__title {
  margin-bottom: 25px;
  text-transform: uppercase;
  @extend %dmsans-700;
  font-size: 18px;
  position: relative;
  &::after {
    @extend %title-line;
    right: 120px;
  }
}

.irs--flat .irs-line {
  top: 30px;
  height: 3px;
  background-color: rgba(194, 210, 219, 0.6);
  border-radius: 4px;
}

.irs--flat .irs-handle {
  top: 23px;
  width: 15px;
  height: 15px;
  background-color: $buttons;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 30px;
  height: 4px;
  background-color: $buttons;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.filter-brand {
  padding-top: 80px;
  .filter__title {
    &::after {
      @extend %title-line;
      right: 160px;
    }
  }
  &__label {
    margin-bottom: 25px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: #edf1f4;
    }
    &:checked + .filter-brand__checkbox .filter-brand__checkbox-num {
      color: $default;
    }
  }

  &__checkbox {
    padding: 15px 22px 15px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
  }

  &__checkbox-num {
    color: rgba(184, 184, 184, 0.6);
  }
}

.filter-category {
  &__label {
    cursor: pointer;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: #edf1f4;
    }
  }
  &__checkbox {
    padding: 15px 22px 15px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
  }
}

.filter-price {
  padding-top: 60px;
  .filter__title {
    margin-bottom: 0px;
    &::after {
      @extend %title-line;
      right: 170px;
    }
  }
  &__label {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
}

.filter-recent {
  padding-top: 50px;
  .filter__title {
    &::after {
      @extend %title-line;
      right: 45px;
    }
  }
  &__label {
    display: flex;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: 3px solid #f2f2f2;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 18px;
  }

  &__content-title,
  &__content-price {
    margin-left: 2px;
    color: #333333;
  }

  &__link {
    text-decoration: none;
    color: #333333;
  }

  &__content-title {
    font-size: 14px;
    line-height: 15px;
  }

  &__content-price {
    font-size: 15px;
    line-height: 10px;
  }

  &__content-rating {
    padding: 0;
  }
}

.shop-content {
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, minmax(270px, auto));
    grid-gap: 40px 30px;
  }
}
.product-item {
  &__images--bed {
    margin-left: auto;
  }
}

// ==================/catalog.html======================

.product-item {
  &__list {
    display: flex;
    max-width: 100%;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    .product-item__img-box {
      height: 500px;
      width: 370px;
    }

    &__images {
      height: 500px;
      width: 370px;
    }

    .product-item__link-box {
      position: inherit;
      transform: translateY(0);
      display: flex;
      justify-content: flex-start;
    }

    .product-item__img-box {
      box-shadow: none;
      border: 3px solid #fafafa;
      border-radius: 0;
      padding: 80px 0;
    }

    .product-item__link {
      border-radius: 0;
      width: 50px;
      height: 50px;
      &:first-child {
        display: none;
      }
    }

    .product-item__link--active {
      path {
        fill: #ffffff;
      }
      background-color: $buttons;
    }

    .product-item__price {
      font-size: 30px;
      color: #333333;
      line-height: 45px;
      margin: 35px 0;
    }

    .product-item__title {
      margin-bottom: 25px;
    }
  }

  &__content {
    margin-left: 60px;
    max-width: 440px;
    padding: 90px 0 75px;
    @extend %rubik-400;
  }

  &__descr {
    line-height: 30px;
    margin-bottom: 25px;
  }

  &__title-link {
    text-decoration: none;
    @extend %rubik-400;
    font-size: 40px;
    color: #333333;
  }
}

// ==================/catalog__list.html======================

.details {
  padding-top: 120px;
}

.details-item {
  &__inner {
    display: flex;
  }

  &__slide {
    width: 550px;
    margin-right: 50px;
  }

  &__content {
    width: 570px;
    padding-top: 30px;
  }

  &__title {
    font-size: 40px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #333333;
  }

  &__star {
    margin-bottom: 30px;
  }

  &__price {
    font-size: 30px;
    color: #333333;
  }

  &__price,
  &__text {
    margin-bottom: 35px;
  }

  &__text {
    max-width: 550px;
    line-height: 25px;
  }

  &__form {
    margin-bottom: 55px;
  }

  &__num {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 1px;
      left: 50px;
      width: 1px;
      height: 54px;
      background-color: $buttons;
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 1px;
      right: 50px;
      width: 1px;
      height: 54px;
      background-color: $buttons;
      z-index: 1;
    }
  }

  &__btn {
    margin-left: 15px;
    cursor: pointer;
    padding: 11px 50px 13px 50px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background-color: $buttons;
    text-transform: uppercase;
    color: #fff;
    line-height: 30px;
  }

  .jq-number__field {
    width: 148px;
    border: 1px solid #a3bbc8;
    transform: translateY(1px);
  }

  .jq-number__field input {
    width: 100%;
    height: 53px;
    border: none;
    outline: none;
    font-size: 15px;
    @extend %rubik-400;
    color: #333333;
    text-align: center;
  }

  .jq-number {
    padding: 0;
    position: relative;
  }

  .jq-number__spin {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .jq-number__spin.plus {
    right: 20px;
  }

  .jq-number__spin.minus {
    left: 20px;
  }

  .jq-number__spin::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    background-color: #333333;
    width: 10px;
    height: 1px;
  }

  .jq-number__spin.plus::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 5px;
    background-color: #333333;
    width: 1px;
    height: 10px;
  }
}
.details-slide {
  display: flex;
  .slick-vertical .slick-slide {
    height: 160px;
    margin-bottom: 25px;
  }
  &__thumb {
    width: 138px;
    margin-right: 25px;
  }

  &__thumb-item {
    margin-bottom: 25px;
    width: 138px;
    height: 160px;
    cursor: pointer;
  }

  &__thumb-img {
    width: 138px;
    height: 160px;
    object-fit: fill;
    border: 2px solid #f2f2f2;
    padding: 0 15px;
  }

  &__big {
    width: 387px;
  }

  &__big-img {
    width: 387px;
    height: 530px;
    object-fit: contain;
    border: 2px solid #f2f2f2;
    padding: 60px 80px;
  }
}
.star {
  padding: 0;
}

.details-info {
  &__item {
    display: flex;
    margin-bottom: 15px;
  }

  &__title {
    padding-right: 5px;
  }

  &__text-link {
    text-decoration: none;
    color: inherit;
  }
}

.details-tabs {
  padding-top: 100px;

  &__top {
    display: flex;
    justify-content: center;
    @extend %rubik-500;
    margin-bottom: 35px;
    a {
      text-decoration: none;
      border-radius: 5px;
      padding: 16px 0px;
      width: 240px;
      margin-right: 13px;
      text-align: center;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__top-item {
    color: $default;
    background-color: rgba(163, 187, 200, 0.4);
  }

  &__top-item--active {
    color: #fff;
    background-color: $buttons;
  }

  &__content-item {
    display: none;
  }

  &__content-item--active {
    display: block;
    line-height: 30px;
  }
}

.related {
  padding-top: 120px;
  &__title {
    @extend %title;
    margin-bottom: 75px;
    color: $default;
  }

  &__items {
    .product-item__img-box {
      box-shadow: 0px 6px 47px -15px rgba(37, 37, 37, 0.05);
    }

    .slick-arrow {
      font-size: 0;
      width: 50px;
      height: 50px;
      background-color: #fff;
      border: 2px solid #edf1f4;
      border-radius: 5px;
      position: absolute;
      top: -120px;
      right: 0px;
      outline: none;
      cursor: pointer;
      &:hover {
        border: 2px solid $buttons;
      }
    }

    .slick-prev {
      right: 70px;
    }

    .slick-prev::before {
      content: "";
      position: absolute;
      background-image: url("../images/slider-related/arrow-left.svg");
      width: 22px;
      height: 9px;
      top: 44%;
      left: 27%;
    }

    .slick-next::after {
      content: "";
      position: absolute;
      background-image: url("../images/slider-related/arrow-right.svg");
      width: 22px;
      height: 9px;
      top: 44%;
      left: 27%;
    }

    .slick-list.draggable {
      padding-left: 12px;
    }
  }
}

// ==================/details.html======================

.blog-page {
  padding: 120px 0 70px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 870px;
    margin-right: 30px;
  }

  &__item {
    margin-bottom: 50px;
  }

  &__img {
    display: block;
    max-width: 830px;
    height: 500px;
    object-fit: cover;
  }

  &__item-link {
    display: inline-block;
    padding: 21px 83px 21px 19px;
    color: $buttons;
    border: solid 1px $buttons;
    border-radius: 0;
    position: relative;
    font-size: 15px;
    &::before {
      @extend %arrow;
      background-image: url("../images/icons/arrow-blog.svg");
    }
    &:hover {
      background-color: rgba(163, 187, 200, 0.2);
    }
  }

  &__item-title {
    padding-top: 40px;
    @extend %title;
    line-height: 26px;
    margin-bottom: 40px;
  }

  &__title-link {
    text-decoration: none;
    color: #333333;
  }

  &__text-link {
    text-decoration: none;
    color: $default;
  }

  &__item-text {
    max-width: 800px;
    line-height: 30px;
    margin-bottom: 40px;
  }

  &__aside {
    width: 270px;
  }

  &__search {
    padding-bottom: 55px;
  }

  &__search-form {
    display: flex;
    height: 43px;
  }

  &__search-input {
    width: 226px;
    padding: 0 10px;
    border-radius: 5px;
    border: 2px solid #edf1f4;
    outline-color: #edf1f4;
  }

  &__search-btn {
    margin-left: -6px;
    padding: 12px 15px 13px 16px;
    background-color: #edf1f4;
    border-radius: 5px;
    border: 2px solid #edf1f4;
    cursor: pointer;
  }
}

.filter-recent {
  &__img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  &__content-date {
    display: flex;
    align-items: center;
    line-height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: #9a9a9a;
    svg {
      margin-right: 5px;
    }
  }

  .recent-posts {
    &__title {
      line-height: 20px;
    }
  }
}

.blog-box {
  max-width: 275px;
  padding: 20px 20px;
  background-color: $buttons;
  position: relative;
  margin-top: -70px;
  color: #fff;
  &__user,
  &__date {
    display: inherit;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }

  &__user-link {
    color: inherit;
  }
}

// ==================/blog-page.html======================

@import "media";
