.top-slider {
  .top-slider__container {
    max-width: 1800px;
  }

  &__inner {
    padding: 220px 285px 45px 285px;
    background-color: $background;
    background-image: url("../images/circle-bg.png");
    background-repeat: no-repeat;
    background-position: 84% 52%;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__title {
    font-size: 72px;
    @extend %rubik-500;
    color: $default;
    max-width: 470px;
    line-height: 70px;
    margin-bottom: 23px;
  }

  &__text {
    font-size: 18px;
    color: $accent;
    margin-bottom: 60px;
    max-width: 389px;
    line-height: 30px;
  }

  &__link {
    font-size: 15px;
    @extend %rubik-500;
    color: #ffffff;
    background-color: $buttons;
    text-decoration: none;
    padding: 21px 100px 21px 27px;
    position: relative;
    outline: none;
    transition: 0.3s ease;
    &:hover {
      background-color: $default;
    }
    &::before {
      @extend %arrow;
      background-image: url("../images/arrow.svg");
    }
  }

  &__img {
    height: 264px;
    margin-top: 55px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 210px;
    li {
      margin-right: 10px;
      button {
        padding: 0;
        border: 0;
        font-size: 11px;
        @extend %rubik-500;
        color: $default;
        width: 30px;
        height: 29px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        outline: none;
        cursor: pointer;
      }
      &.slick-active {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50%;
      }
    }
  }
}
